{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        #map {
            height: 88%;
            border: 2px solid darkseagreen;
        }

        html, body {
            height: 100%;
        }

        .input-group-addon {
            min-width: 15em;
            text-align: right;
        }

        .list-group-item {
            display: list-item;
        }
    </style>

    <title>Choropleth</title>
</head>

<body>

<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-7" style="height: 100%; background-color: #3a373d">
            <div class="row" style="height: 10%">
                <h1 style="color: #fafafa; text-align: center; font-size: 4em">Begin Here</h1>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-5" style="height: 100%">
            <h2> Interactive Market Explorer</h2>
            <h3> Price range </h3>
            <div class="input-group">
                <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr1">Inexpensive $</label>
                        <input type="checkbox" name="pricerange" value="$" id="pr1">
                    </span>
                </div>
                <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr2">Moderate $$</label>
                        <input type="checkbox" name="pricerange" value="$$" id="pr2">
                    </span>
                </div>
                <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr3">Pricey $$$</label>
                        <input type="checkbox" name="pricerange" value="$$$" id="pr3">
                    </span>
                </div>
                <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr4">Ultra High-End $$$$</label>
                        <input type="checkbox" name="pricerange" value="$$$$" id="pr4">
                    </span>
                </div>
                <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr5">Not Available</label>
                        <input type="checkbox" name="pricerange" value="n/a" id="pr5">
                    </span>
                </div>
            </div>

            <h3>Rating</h3>
            <input type="range" id="rating" min="1" max="5" value="1">

            <h3>Restaurant Category/Cuisine</h3>
            <div class="span4">
                <select id="cuisines" style="width:300px" multiple="multiple"></select>
            </div>
            <br>
            <div class="span4 center-block">
                <button type="button" class="btn btn-primary center-block" style="width: 100%" onclick="filter()">
                    Filter
                </button>
            </div>
            <h2>Priorities</h2>
            <div class="col-xs-6" style="text-align: center">
                <b>Not important</b>
                <ul id="priorityPool" class="list-group" style="list-style: none">
                    <li class="priority list-group-item">Proximity of partners</li>
                    <li class="priority list-group-item">Proximity of competitors</li>
                    <li class="priority list-group-item">Population density</li>
                    <li class="priority list-group-item">Population income</li>
                    <li class="priority list-group-item">Crimes in the neighborhood</li>
                </ul>
            </div>
            <div class="col-xs-6" style="text-align: center">
                <b>Order of importance</b>
                <ol id="priorityOrder" class="list-group">
                </ol>
            </div>
            <div class="col-xs-12" style="text-align: center">
                <b>How important is your first priority compared to your last priority?</b>
            </div>
            <div class="btn-group" data-toggle="buttons" style="width: 100%">
                <label class="btn btn-secondary active"
                       style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option1" value="0" checked> Equally important
                </label>
                <label class="btn btn-secondary" style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option2" value="0.5"> Somewhat more important
                </label>
                <label class="btn btn-secondary" style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option3" value="1"> More important
                </label>
                <label class="btn btn-secondary" style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option4" value="2"> Significantly more important
                </label>
            </div>
            <div class="span4 center-block">
                <button type="button" class="btn btn-success center-block" style="width: 100%"
                        onclick="highlight(this)">
                    Highlight locations
                </button>
            </div>
            <br>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $.get('/categories').done(function (data) {
            var $cuisines = $('#cuisines');
            $cuisines.select2();

            for (var region in data) {
                var $region = $("<optgroup label=\"" + region + "\"></optgroup>");
                $cuisines.append($region);
                data[region].forEach(function (category) {
                    $region.append("<option value=\"" + category + "\">" + category + "</option>");
                });
            }
        });

        $.get("/choropleth/data").done(function (mypols) {
                var choropleth = L.geoJSON(mypols);
                choropleth.setStyle(gridstyle);
                var baseLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                    maxZoom: 16,
                    id: 'mapbox.streets'
                });

                var map = new L.Map("map", {
                    center: new L.LatLng(33.748995, -84.387982),
                    zoom: 11,
                    layers: [baseLayer, choropleth]
                });
            }
        );

        // 9 colors from color brewer
        var colors = ['#ffffcc', '#ffeda0', '#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c', '#bd0026', '#800026']
        {#        var colors = ['#8c510a','#bf812d','#dfc27d','#f6e8c3','#f5f5f5','#c7eae5','#80cdc1','#35978f','#01665e'];#}

        function gridstyle(feature) {
            var plotProperty = feature.properties.favorability_percentile;
            return {
                color: getColor(plotProperty),
                weight: 0,
                opacity: 1,
                fillOpacity: getOpacity(plotProperty)
            };
        }

        function getColor(d) {
            var percentiles = [10., 20., 30., 40., 50., 60., 70., 80., 90.];
            return d > percentiles[8] ? colors[8] :
                d > percentiles[7] ? colors[7] :
                    d > percentiles[6] ? colors[6] :
                        d > percentiles[5] ? colors[5] :
                            d > percentiles[4] ? colors[4] :
                                d > percentiles[3] ? colors[3] :
                                    d > percentiles[2] ? colors[2] :
                                        d > percentiles[1] ? colors[1] : colors[0];
        }

        function getOpacity(d) {
            var opacity = d / 100.0;
            if (opacity > 0.6)
                return 0.6;
            return 0.8;
        }

        $(".priority").click(function () {
            var $priority = $(this);
            $priority.fadeOut("fast", function () {
                $priority.appendTo($("#priorityOrder")).fadeIn("fast");
            });
        });
    });
</script>

</body>
</html>