{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        #map-canvas {
            width: 100%;
            height: 100%;
            position: relative;
        }
    </style>

    <title>Choropleth</title>
</head>

<body>
<div id="map-canvas"></div>
<script>
    // 9 colors from color brewer
    var colors = ['#ffffcc', '#ffeda0', '#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c', '#bd0026', '#800026']

    function getColor(d) {
        return d > 90 ? colors[8] :
                d > 80 ? colors[7] :
                        d > 70 ? colors[6] :
                                d > 60 ? colors[5] :
                                        d > 50 ? colors[4] :
                                                d > 40 ? colors[3] :
                                                        d > 30 ? colors[2] :
                                                                d > 19 ? colors[1] :
                                                                        colors[0];
    }

    function getOpacity(d) {
        opacity = d/100.0;
        if (opacity > 0.6)
            return 0.6;
        return opacity;
    }

    function gridstyle(feature) {
        var plotProperty = feature.properties.favorability_score
        return {
            color: getColor(plotProperty),
            weight: 0,
            opacity: 1,
            fillOpacity: getOpacity(plotProperty)
        };
    }


    $.get("/choropleth/data").done(function (mypols) {
                var geoson = L.geoJSON(mypols, {style: gridstyle});
                var baseLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                    maxZoom: 16,
                    id: 'mapbox.streets'
                });

                var map = new L.Map('map-canvas', {
                    center: new L.LatLng(33.748995, -84.387982),
                    zoom: 11,
                    layers: [baseLayer, geoson]
                });
            }
    );


</script>

</body>
</html>