{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="{% static 'foodmap/heatmap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'foodmap/leaflet-heatmap.js' %}"></script>
]
    <style>
    html,body {
        width:100%;
        height:100%;}

    #map-canvas {
        width:100%;
        height:100%;
        position: relative;}
</style>

    <title>Heatmap</title>
</head>

<body>
<div id="map-canvas"></div>

<script>

function getPoints() {
        coordinates=[];
        {% for ptdata in PtData%}
            var latitude = {{  ptdata.location.x }},
                longitude = {{ptdata.location.y}},
                score = {{ ptdata.income_level }};
            heatpoint = {};
            heatpoint.lat =latitude;
            heatpoint.lng= longitude;
            heatpoint.count= score;
            coordinates.push(heatpoint);
        {% endfor %}
        return coordinates;
    }

var testData = {
  max: 40,
  data: getPoints()
};

var baseLayer =L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
		maxZoom: 16,
		id: 'mapbox.streets'
	});

var cfg = {
  // radius should be small ONLY if scaleRadius is true (or small radius is intended)
  // if scaleRadius is false it will be the constant radius used in pixels
  "radius": .001,
  "maxOpacity": .8,
  // scales the radius based on map zoom
  "scaleRadius": true,
  // if set to false the heatmap uses the global maximum for colorization
  // if activated: uses the data maximum within the current map boundaries
  //   (there will always be a red spot with useLocalExtremas true)
  "useLocalExtrema": true,
  // which field name in your data represents the latitude - default "lat"
  latField: 'lat',
  // which field name in your data represents the longitude - default "lng"
  lngField: 'lng',
  // which field name in your data represents the data value - default "value"
  valueField: 'count'
};



var heatmapLayer = new HeatmapOverlay(cfg);

var map = new L.Map('map-canvas', {
  center: new L.LatLng(33.748995, -84.387982),
  zoom: 11,
  layers: [baseLayer, heatmapLayer]
});

heatmapLayer.setData(testData);
</script>

</body>
</html>