<!DOCTYPE html>
<html>
<head>
    <title>Begin Here</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>

    <style>
        #map {
            height: 88%;
            border: 2px solid darkseagreen;
        }

        html, body {
            height: 100%;
        }

        .input-group-addon {
            min-width: 15em;
            text-align: right;
        }

        .list-group-item {
            display: list-item;
        }

    </style>
</head>
<body onload="uncheck()">

<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-7" style="height: 100%; background-color: #3a373d">
            <div class="row" style="height: 10%">
                <h1 style="color: #fafafa; text-align: center; font-size: 4em">Begin Here</h1>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-5" style="height: 100%">
            <h2> Interactive Market Explorer</h2>
            <div class="row">
                <div class="col-xs-6">
                    <h3> Price range </h3>
                    <div class="input-group">
                        <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr1">Inexpensive $</label>
                        <input type="checkbox" name="pricerange" value="$" id="pr1">
                    </span>
                        </div>
                        <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr2">Moderate $$</label>
                        <input type="checkbox" name="pricerange" value="$$" id="pr2">
                    </span>
                        </div>
                        <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr3">Pricey $$$</label>
                        <input type="checkbox" name="pricerange" value="$$$" id="pr3">
                    </span>
                        </div>
                        <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr4">Ultra High-End $$$$</label>
                        <input type="checkbox" name="pricerange" value="$$$$" id="pr4">
                    </span>
                        </div>
                        <div class="span4">
                    <span class="input-group-addon">
                        <label for="pr5">Not Available</label>
                        <input type="checkbox" name="pricerange" value="n/a" id="pr5">
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h3>Yelp Rating</h3>
                    <form>
                        <div>
                            <label for="ratingLowerBound">Min. rating</label>
                            <input type="text" id="ratingLowerBound" class="sliderValue" data-index="0" value="1"
                                   style="width: 4em"/>
                            <label for="ratingLowerBound">Max. rating</label>
                            <input type="text" id="ratingHigherBound" class="sliderValue" data-index="1" value="5"
                                   style="width: 4em"/>
                        </div>
                        <br/>
                        <div id="slider"></div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h3>Competitors</h3>
                    <div class="span4">
                        <select id="competitors" style="width:300px" multiple="multiple"></select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h3>Complementary cuisines</h3>
                    <div class="span4">
                        <select id="partners" style="width:300px" multiple="multiple"></select>
                    </div>
                </div>
            </div>
            <br>
            <div class="span4 center-block">
                <button type="button" class="btn btn-primary center-block" style="width: 100%" onclick="filter()">
                    Filter
                </button>
            </div>
            <h2>Priorities</h2>
            <div class="col-xs-6" style="text-align: center">
                <b>Not important</b>
                <ul id="priorityPool" class="list-group" style="list-style: none">
                    <li class="priority list-group-item">Proximity of partners</li>
                    <li class="priority list-group-item">Proximity of competitors</li>
                    <li class="priority list-group-item">Population density</li>
                    <li class="priority list-group-item">Population income</li>
                    <li class="priority list-group-item">Crimes in the neighborhood</li>
                </ul>
            </div>
            <div class="col-xs-6" style="text-align: center">
                <b>Order of importance</b>
                <ol id="priorityOrder" class="list-group">
                </ol>
            </div>
            <div class="col-xs-12" style="text-align: center">
                <b>How important is your first priority compared to your last priority?</b>
            </div>
            <div class="btn-group" data-toggle="buttons" style="width: 100%; margin-left: 2%">
                <label class="btn btn-secondary active"
                       style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option1" value="0" checked> Equally important
                </label>
                <label class="btn btn-secondary" style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option2" value="0.5"> Somewhat more important
                </label>
                <label class="btn btn-secondary" style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option3" value="1"> More important
                </label>
                <label class="btn btn-secondary" style="background-color: #96c0d8; border: solid; border-width: 1px">
                    <input type="radio" name="priorities" id="option4" value="2"> Significantly more important
                </label>
            </div>
            <div style="width: 100%">
                <br>
            </div>
            <div class="span4 center-block">
                <button type="button" class="btn btn-success center-block" style="width: 100%"
                        onclick="highlight(this)">
                    Highlight locations
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var map, restaurants, allRestaurantLayer, currentLayer, geojsonMarkerOptions;

    $(document).ready(function () {
        map = L.map('map').setView([33.748995, -84.387982], 12);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
            maxZoom: 16,
            id: 'mapbox.streets'
        }).addTo(map);

        geojsonMarkerOptions = {
            radius: 5,
            fillColor: "#386cb0",
            color: "#386cb0",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.1
        };

        geojsonMarkerOptionsfilt_emph = {
            radius: 5,
            fillColor: "#e41a1c",
            color: "#e41a1c",
            weight: 1,
            opacity: 0.3,
            fillOpacity: 0.3
        };

        geojsonMarkerOptionsfilt_de_emph = {
            radius: 5,
            fillColor: "grey",
            color: "grey",
            weight: 1,
            opacity: 0.5,
            fillOpacity: 0.2
        };

        $.get('/restaurants').done(function (data) {
            restaurants = data;
            allRestaurantLayer = L.geoJSON(restaurants, {
                pointToLayer: function (feature, latlng) {
                    return L.circleMarker(latlng, geojsonMarkerOptions);
                }
            });
            currentLayer = allRestaurantLayer;
            currentLayer.addTo(map);
        });

        $.get('/categories').done(function (data) {
            populateCategories($('#competitors'), data);
            populateCategories($("#partners"), data);
        });
    });

    function populateCategories($list, data) {
        $list.select2();
        for (var region in data) {
                var $region = $("<optgroup label=\"" + region + "\"></optgroup>");
                $list.append($region);
                data[region].forEach(function (category) {
                    $region.append("<option value=\"" + category + "\">" + category + "</option>");
                });
            }
    }

    function getSelectedPriceCategories() {
        var $checked = $("input[name=pricerange]:checked");
        var $unchecked = $("input[name=pricerange]:not(:checked)");
        var visibility = {};
        var de_emph = {};
        $checked.each(function (_, category) {
            visibility[category.value] = true;
            de_emph[category.value] = false;
        });
        $unchecked.each(function (_, category) {
            visibility[category.value] = false;
            de_emph[category.value] = true;
        });
        return [visibility, de_emph];
    }

    function getPrices() {
        var prices = [];
        var $checked = $("input[name=pricerange]:checked");
        $checked.each(function (_, category) {
            prices.push(category.value);
        });
        return prices;
    }

    function getRatings() {
        var $values = $(".sliderValue");
        return [$values[0].value, $values[1].value];
    }

    function getCompetitors() {
        return $("#competitors").val();
    }

    function getPartners() {
        return $("#partners").val();
    }

    function filter() {
        map.removeLayer(currentLayer);
        var selectedPriceCategories = getSelectedPriceCategories()[0];
        currentLayer = L.geoJSON(restaurants, {
            pointToLayer: function (feature, latlng) {
                return L.circleMarker(latlng, geojsonMarkerOptionsfilt_emph);
            },
            filter: function (feature, _) {
                var ratings = getRatings();
                var matchPrice = selectedPriceCategories[feature.properties.price];
                var matchRatingLow = feature.properties.rating >= ratings[0];
                var matchRatingHigh = feature.properties.rating <= ratings[1];
                return matchPrice && matchRatingLow && matchRatingHigh;
            }
        });


        if (DeEmphLayer !== undefined && DeEmphLayer !== null) {
            map.removeLayer(DeEmphLayer)
        }
        var DeselectedPriceCategories = getSelectedPriceCategories()[1];
        var DeEmphLayer = L.geoJSON(restaurants, {
            pointToLayer: function (feature, latlng) {
                return L.circleMarker(latlng, geojsonMarkerOptionsfilt_de_emph);
            },
            filter: function (feature, _) {
                var ratings = getRatings();
                var mismatchPrice = DeselectedPriceCategories[feature.properties.price];
                var mismatchRatingLow = feature.properties.rating < ratings[0];
                var mismatchRatingHigh = feature.properties.rating > ratings[1];
                return mismatchPrice || mismatchRatingLow || mismatchRatingHigh;
            }
        });
        DeEmphLayer.addTo(map);
        currentLayer.addTo(map);
    }

    function highlight(element) {
        function get_ranking() {
            var mapping = {
                "Proximity of partners": "partner",
                "Proximity of competitors": "competitor",
                "Population density": "population",
                "Population income": "income",
                "Crimes in the neighborhood": "crime"
            };
            var ranking = {};
            var important_priorities = $("#priorityOrder").find(".list-group-item");
            important_priorities.each(function (rank, item) {
                ranking[mapping[$(item).text()]] = rank + 1;
            });
            var unimportant_priorities = $("#priorityPool").find(".list-group-item");
            unimportant_priorities.each(function (_, item) {
                ranking[mapping[$(item).text()]] = 0;
            });
            return ranking;
        }

        function get_filters() {
            return {
                price: getPrices(),
                rating: getRatings(),
                competitors: getCompetitors(),
                partners: getPartners()
            };
        }

        $.post({
            url: '/highlight',
            contentType: 'application/json',
            data: JSON.stringify({
                rankings: get_ranking(),
                power: $("input[name=priorities]:checked").val(),
                filter: get_filters()
            })
        }).done(function () {
            alert("All Done! Go see the Choropleth");
        }).fail(function () {
            alert("Try again...");
        });
    }

    $(".priority").click(function () {
        var $priority = $(this);
        $priority.fadeOut("fast", function () {
            $priority.appendTo($("#priorityOrder")).fadeIn("fast");
        });
    });

    //On page reload uncheck all checkboxes
    function uncheck() {
        // Uncheck all checkboxes on page load
        $(':checkbox:checked').prop('checked', false);
    }

    $(document).ready(function () {
        $("#slider").slider({
            min: 1,
            max: 5,
            step: .25,
            range: true,
            values: [1, 5],
            slide: function (event, ui) {
                for (var i = 0; i < ui.values.length; ++i) {
                    $("input.sliderValue[data-index=" + i + "]").val(ui.values[i]);
                }
            }
        });

        $("input.sliderValue").change(function () {
            var $this = $(this);
            $("#slider").slider("values", $this.data("index"), $this.val());
        });
    });

</script>

</body>
</html>